<div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-0 lg:gap-2 lg:place-items-center">
  {% for card in cards %}
  <div class="card card-border shadow-sm bg-base-100 image-full min-w-full self-stretch 
    rounded-box md:rounded-none lg:rounded-box">
    <figure>
      <img id="{{card.name}}-figure" src="{{card.background}}" />
    </figure>
    <div class="card-body md:p-2">
      <div hx-trigger="load, every 10s" hx-get="{{card.endpoint}}" hx-swap="innerHTML"
        nunjucks-template="{{card.name}}-template" hx-target="#{{card.name}}-stats" 
        hx-on::after-request="handle{{card.name}}AfterSettle(event)">
      </div>
      <div class="flex space-x-4 justify-evenly items-center-safe">
        <h2 class="text-5xl font-bold tracking-wider">{{card.name}}</h2>
      </div>
      <div class="divider divider-accent m-0"></div>
      <div class="stats stats-vertical shadow overflow-hidden glass" id="{{card.name}}-stats">
        <div class="flex flex-col gap-8 w-full p-4">
          <div class="skeleton h-32 w-full"></div>
          <div class="skeleton h-4 w-1/2"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
        </div>
      </div>
    </div>
    {{card.content}}
  </div>

  {% endfor %}
</div>