.vscode/.ropeproject/**
.vscode/tags
**/__pycache__/**
*.egg-info
.venv/*
.venv_win/*
.venv_lin/*
result.xml
.coverage
cov.xml
htmlcov
doc/users_manual_DE.html
doc/users_manual_DE.pdf
script/installer/waqd.log
v1.4.4

src/config.ini
src/waqd.log
src/events.json
src/sensor_logs/*
src/waqd/assets/weather_icons/*_white.svg
*.mp3
crash.log