.vscode/.ropeproject/**
.vscode/tags
**/__pycache__/**
*.egg-info
result.xml
.coverage
cov.xml
htmlcov
src/config.ini
doc/users_manual_DE.html
doc/users_manual_DE.pdf
src/piweather.log
src/piweather/driver/conf.ini
resources/weather_icons/*_white.svg
resources/tts/**


script/installer/piweather.log
src/events.json
