.vscode/.ropeproject/**
.vscode/tags
**/__pycache__/**
*.egg-info
.venv/*
.venv_win/*
.venv_lin/*
result.xml
.coverage
.sesskey
cov.xml
htmlcov
doc/users_manual_DE.html
doc/users_manual_DE.pdf
script/installer/waqd.log
v1.4.4
nonexistant
.sesskey
node_modules


src/config.ini
waqd.log
src/events.json
src/sensor_logs/*
src/waqd/assets/weather_icons/*_white.svg
user_db.json
*.mp3
crash.log

template/*
src/waqd/ui/web2/local/output.css
src/waqd/ui/web2/local/login_admin.html
src/waqd/ui/web2/local/Franzo-E4GA.woff
