
<dialog id="shutdown_menu" class="modal">
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-md btn-circle btn-ghost text-lg absolute right-2 top-2">
          ✕</button>
      </form>
      <h3 class="text-2xl font-bold text-center">Power Options</h3>
      <div class="flex flex-col">
        <button id="shutdown_btn" class="btn btn-primary btn-lg mt-4" onclick="shutdown_confirm.showModal()">Shutdown</button>
        <button id="restart_btn" class="btn btn-primary btn-lg mt-4" onclick="restart_confirm.showModal()">Reboot</button>
      </div>
    </div>
  </dialog>
  
  <!-- Add confirmation dialogs -->
  <dialog id="shutdown_confirm" class="modal">
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
    <div class="modal-box">
      <h3 class="font-bold text-lg">Confirm Shutdown</h3>
      <p class="py-4">Are you sure you want to shutdown the device?</p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn btn-error" hx-post="/menu/shutdown" hx-swap="none">Yes</button>
          <button class="btn btn-ghost mr-2">No</button>
        </form>
      </div>
    </div>
  </dialog>
  
  <dialog id="restart_confirm" class="modal">
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
    <div class="modal-box">
      <h3 class="font-bold text-lg">Confirm Restart</h3>
      <p class="py-4">Are you sure you want to restart the device?</p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn btn-error" hx-post="/menu/restart" hx-swap="none">Yes</button>
          <button class="btn btn-ghost mr-2">No</button>
        </form>
      </div>
    </div>
  </dialog>