<!DOCTYPE html>
<html lang="en" data-theme="mytheme">

<head>
  <title>WAQD</title>
  <html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8 maximum-scale=1.5" , charset="utf-8">
  <link rel="preload" href="/static/font/Franzo-E4GA.woff" as="font" type="font/woff2" crossorigin>
  <link href="/static/css/output.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/htmx_2_0_4.js"></script>
  <script src="/static/js/htmx_ext_client_side_temp_2_0_0.js"></script>
  <script src="/static/js/nunjucks_3_2_4.js"></script>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <style>
    /* Cannot be in stylesheet - set font here, so no pop-in happens*/
    @font-face {
      font-family: MyFranzo;
      src: url('/static/font/Franzo-E4GA.woff');
    }
  </style>
  <link rel="icon" href="/static/gui_base/icon.avif" type="image/png">
  {% if local %}
  <script>
    // Call a fetch every 10 minutes to keep the session alive
    setInterval(function () {
      fetch('/public/keepalive', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include'
      });
    }, 600000); // 10 minutes in milliseconds 600000
  </script>
  {% endif %}
</head>

<body class="{{overflow_config}}">
  <header>
    {{menu}}
  </header>

  <main class="py-2 px-2 md:px-0 md:py-0 lg:p-4" style="max-width: 100%; min-height: 80vh;"
    hx-ext="client-side-templates">
    {{content}}
  </main>
  <footer class="footer footer-center bg-transparent text-base-content text-xl p-4 space-y-8">
    <p>Copyright © 2025 - All right reserved by Péter Gosztolya and contributors</p>
  </footer>
  <div id="toasts" class="toast toast-end">
    <script>
      function hideToast(name) {
        document.getElementById(name).classList.add('hidden');
      }
    </script>
    {{toast}}
  </div>
</body>

</html>