<div class="navbar bg-base-100 shadow-sm rounded-b p-4 md:p-0 lg:p-2">
  <div class="navbar-start">
    <!-- Mobile Menu -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-ghost2 md:hidden ">
        <svg viewBox="0 0 24 24" class="h-10">
          <use href="/static/general_icons/menu.svg#main" fill="white" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-xl dropdown-content
                                bg-base-100 rounded-box z-1 mt-3 w-60 p-4 gap-4 shadow">
        <li>
          <a href="/settings"><svg viewBox="0 0 24 24" class="h-4">
              <use href="/static/general_icons/settings.svg#main" fill="white" />
            </svg>Settings</a>
        </li>
        <li>
          <details open>
            <summary class="text-neutral">
              <svg viewBox="0 0 24 24" class="h-4">
                <use href="/static/general_icons/account_circle.svg#main" fill="#57534d" />
              </svg>
              Account
            </summary>
            <ul class="">
              <!-- <li><a>
                  <svg viewBox="0 0 24 24" class="h-4 w-4">
                    <use href="/static/general_icons/manage_accounts.svg#main" fill="white" />
                  </svg>
                  Profile
                </a></li> -->
              <li><a href="/public/logout">
                  <svg viewBox="0 0 24 24" class="h-4 w-4">
                    <use href="/static/general_icons/logout.svg#main" fill="white" />
                  </svg>
                  Logout
                </a></li>
            </ul>
        </li>
      </ul>
    </div>
    <a href="/weather" class="btn btn-ghost btn-ghost2 text-3xl font-bold mx-4">WAQD</a>
  </div>
  <div class="navbar-center hidden md:flex"></div>
  <div class="navbar-end hidden md:flex">
    <!-- Desktop Menu -->
    {% if logged_in %}
    <ul class="menu menu-horizontal menu-xl px-2">
      <div class="dropdown dropdown-end ">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-field">
          <svg viewBox="0 0 24 24" class="h-8">
            <use href="/static/general_icons/account_circle.svg#main" fill="white" />
          </svg>
        </div>
        <ul tabindex="0"
          class="menu menu-lg dropdown-content bg-base-100 rounded-box z-1 mt-3 w-fit p-2 shadow">
          <li>
            <a href="/settings">
              <svg viewBox="0 0 24 24" class="h-6  mr-8">
                <use href="/static/general_icons/settings.svg#main" fill="white" />
              </svg>Settings
            </a>
          </li>
          <li>
            <a href="/public/about">
              <svg viewBox="0 0 24 24" class="h-6  mr-8">
                <use href="/static/general_icons/info.svg#main" fill="white" />
              </svg>About
            </a>
          </li>
          <li>
            {% if local %}
            <a onclick="shutdown_menu.showModal()">
              <svg viewBox="0 0 24 24" class="h-6 mr-8">
                <use href="/static/general_icons/power.svg#main" fill="white" />
              </svg>Shutdown
            </a>
            {% else %}
            <a href="/public/logout">
              <svg viewBox="0 0 24 24" class="h-6 mr-8">
                <use href="/static/general_icons/logout.svg#main" fill="white" />
              </svg>Logout
            </a>
            {% endif %}
          </li>
        </ul>
      </div>
      </li>
      {% if local %}
      <li>
        <a onclick="wifi_mgr_modal.showModal()">
          <svg viewBox="0 0 24 24" class="h-8">
            <use href="/static/general_icons/wifi_full.svg#main" fill="white" />
          </svg>
        </a>
      </li>
      <dialog id="wifi_mgr_modal" class="modal">
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
        <div class="modal-box">
          <!-- close button -->
          <form method="dialog">
            <button
              class="btn btn-md btn-circle btn-ghost text-lg absolute right-2 top-2">✕</button>
          </form>
          <div class="flex flex-row align-middle items-center">
            <h3 class="text-3xl font-bold p-2">Networks</h3>
            <div class="btn btn-sm btn-secondary ml-8">
              <svg viewBox="0 0 24 24" class="h-8">
                <use href="/static/general_icons/wifi_off.svg#main" fill="white" />
              </svg>
              Turn Off Wifi
            </div>
          </div>
          <div class="divider divider-accent m-0"></div>
          <div class="stats stats-vertical shadow w-full">
            <div class="stat">
              <div class="stat-title"></div>
              <div class="stat-value">
                <div
                  class="bg-base-100 rounded-box shadow-md flex flex-row align-middle items-center">
                  <svg viewBox="0 0 24 24" class="h-8">
                    <use href="/static/general_icons/lan.svg#main" fill="white" />
                  </svg>
                  <div class="text-s tracking-wide p-4">Ethernet-01</div>
                  <div class="btn btn-sm btn-secondary btn-disabled p-4">Disconnect</div>

                </div>
              </div>
              <div class="stat-desc">LAN</div>
            </div>
            <div class="stat">
              <div class="stat-title"></div>
              <div class="stat-value">
                <div class="bg-base-100 rounded-box shadow-md flex flex-row  items-center">
                  <svg viewBox="0 0 24 24" class="h-8">
                    <use href="/static/general_icons/wifi_3_bar_locked.svg#main" fill="white" />
                  </svg>
                  <div class="text-s tracking-wide p-4">HomeNet</div>
                  <div class="btn btn-sm btn-secondary ml-8 p-4">Disconnect</div>
                </div>
              </div>
              <div class="stat-desc">-86 db</div>
            </div>
            <div class="stat">
              <div class="stat-title"></div>
              <div class="stat-value">
                <div
                  class="bg-base-100 rounded-box shadow-md flex flex-row align-middle items-center">
                  <svg viewBox="0 0 24 24" class="h-8">
                    <use href="/static/general_icons/wifi_2_bar_locked.svg#main" fill="white" />
                  </svg>
                  <div class="text-s tracking-wide p-4">OtherNet</div>
                  <div class="btn btn-sm btn-secondary hidden ml-8 p-4">Connect</div>
                </div>
                <div class="flex flex-row  items-center">
                  <input type="text" placeholder="Password"
                    class="input input-bordered w-full max-w-xs m-4" />
                  <div class="btn btn-sm btn-secondary">Connect</div>
                </div>
              </div>
              <div class="stat-desc">-96 db</div>
            </div>
            <div class="stat">
              <div class="stat-title"></div>
              <div class="stat-value">
                <div
                  class="bg-base-100 rounded-box shadow-md flex flex-row align-middle items-center">
                  <svg viewBox="0 0 24 24" class="h-8">
                    <use href="/static/general_icons/wifi_1_bar_locked.svg#main" fill="white" />
                  </svg>
                  <div class="text-s tracking-wide p-4">WeakNet</div>
                  <div class="btn btn-sm btn-secondary ml-8 p-4">Connect</div>
                </div>
              </div>
              <div class="stat-desc">-120 db</div>
            </div>
            <div class="stat">
              <div class="stat-title"></div>
              <div class="stat-value">
                <div
                  class="bg-base-100 rounded-box shadow-md flex flex-row align-middle items-center">
                  <svg viewBox="0 0 24 24" class="h-8">
                    <use href="/static/general_icons/wifi_1_bar_locked.svg#main" fill="white" />
                  </svg>
                  <div class="text-s tracking-wide p-4">WeakNet</div>
                  <div class="btn btn-sm btn-secondary ml-8 p-4">Connect</div>
                </div>
              </div>
              <div class="stat-desc">-120 db</div>
            </div>
          </div>
      </dialog>
      {% endif %}
    </ul>
    {% if local %}
    <span id="clock" class="p-4"></span>
    <script> // clock
      function updateClock(clock) {
        const lang = navigator.language || navigator.languages[0];
        clock.innerHTML = new Date().toLocaleTimeString([], { hour12: false, hour: '2-digit', minute: '2-digit' });
      }
      window.onload = (function () {
        setInterval(function () {
          var clockElement = document.getElementById("clock");
          updateClock(clockElement);
        }, 10000);
      }());
      var clockElement = document.getElementById("clock");
      updateClock(clockElement);
    </script>
    {% endif %}
    {% endif %}
  </div>
</div>

<dialog id="shutdown_menu" class="modal">
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-md btn-circle btn-ghost text-lg absolute right-2 top-2">
        ✕</button>
    </form>
    <h3 class="text-2xl font-bold">Shutdown Menu</h3>
    <div class="flex flex-row">
    <button class="btn btn-primary btn-lg mt-4" hx-post="/api/shutdown"
      hx-swap="none">Shutdown</button>
    <button class="btn btn-primary btn-lg mt-4" hx-post="/api/reboot" hx-swap="none">Reboot</button>
    </div>
  </div>
</dialog>