<div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-0 lg:gap-2 lg:place-items-center">
  {% for card in cards %}
  <div
    class="card card-border shadow-sm bg-base-100 image-full min-w-full self-stretch rounded-box md:rounded-none lg:rounded-box">
    <figure>
      <img id="{{card.name}}-figure" src="{{card.background}}" />
    </figure>
    <div class="card-body md:p-2">
      <div class="flex space-x-4 justify-evenly items-center-safe">
        <h2 class="text-5xl font-bold tracking-wider">{{card.name}}</h2>
      </div>
      <div class="divider divider-accent m-0"></div>
      <div class="stats stats-vertical shadow overflow-hidden glass" id="{{card.name}}-stats"
      hx-trigger="load, every 10s" hx-get="{{card.endpoint}}" hx-swap="innerHTML"
        nunjucks-template="{{card.name}}-template"
        hx-on::after-settle="handle{{card.name}}AfterSettle(event)">
        <div class="flex flex-col gap-8 w-full p-4">
          <div class="skeleton h-32 w-full"></div>
          <div class="skeleton h-4 w-1/2"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
        </div>
      </div>
    </div>
    {{card.content}}
  </div>

  {% endfor %}
</div>

<script>
  function handleExteriorAfterSettle(event) {
    if (event.detail.successful) {
      const responseData = JSON.parse(event.detail.xhr.response);
      if (responseData.background) {
        const figureElement = document.querySelector("#Exterior-figure");
        figureElement.src = "/static/" + responseData.background;
      }
    }
  }
  function handleForecastAfterSettle(event) { }
  function handleInteriorAfterSettle(event) {
    if (event.detail.successful) {
      // Dynamic CO2 coloring
      const co2Element = document.querySelector("#co2_value p");
      if (!co2Element) return; // Ensure the element exists before proceeding
      const co2Value = parseInt(co2Element.textContent, 10);
      const co2Container = document.querySelector("#co2_value");

      if (!isNaN(co2Value)) {
        co2Container.classList.remove(
          "text-green-500",
          "text-yellow-500",
          "text-red-500"
        );
        if (co2Value < 800) {
          co2Container.classList.add("text-green-500");
        } else if (co2Value < 1200) {
          co2Container.classList.add("text-yellow-500");
        } else {
          co2Container.classList.add("text-red-500");
        }
      }
    }
  }
  //# sourceURL=weather.html

</script>