:root {
    --pico-font-size: 120%;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-border-radius: 0.8rem;
    --pico-font-family: MyFranzo;
}

[data-theme=dark] {
    --pico-background-color: #929ab9;
    --pico-color: white;
    --pico-card-background-color: #0172AD;
    --pico-secondary-background: #48536b;
    /* 607d8b  #929ab9*/
}

@media only screen and (prefers-color-scheme: dark) {

    :host(:not([data-theme])),
    :root:not([data-theme]) {
        --pico-background-color: rgb(232 159 166);
        --pico-color: white;

    }
}

@media (on) {

    :host(:not([data-theme])),
    :root:not([data-theme]) {
        --pico-background-color: rgb(232 159 166);
        --pico-color: white;

    }
}

.svg-white {
    filter: invert(99%) sepia(99%) saturate(18%) hue-rotate(235deg) brightness(104%) contrast(100%);
}

body>header.is-fixed-above-lg {
    z-index: 2;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    /* background-color: var(--pico-header-background); */
    transition: border-top-color .4s ease-in-out, box-shadow .4s ease-in-out
}

/* nav {
    height: 110px;
} */

body>header.is-fixed-above-lg.is-fixed {
    /* border-bottom-color: var(--pico-header-border-color); */
    box-shadow: var(--pico-card-box-shadow)
}

body>header .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* The Modal (background) */
.modal {
    /* display: none; */
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* button {
    font-size: 1.2rem;
} */

.weather_card_text_small {
    margin-right: 0.5rem;
    vertical-align: middle;
}

.weather_card_text {
    font-size: 1.8em;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.weather_card_text_big {
    font-size: 2.2em;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.row {
    margin: 10px;
}

/* @media (orientation: landscape) and (max-height: 500px) {
    .showcase-area {
        height: 50vmax;
    }
} */

@media (min-width: 769px) and (max-width: 1200px) {
    :root {
        --pico-spacing: 0.5rem;
    }

    #nav-container {
        height: 50px;
    }

    .container {
        max-width: 95%;
    }
}

body {
    /* color: white;
    display: flex;
    flex-direction: column; */
    /* background: linear-gradient(175deg, rgba(103, 154, 199, 1) 0%, rgba(232, 159, 166, 1) 100%); */
}

/* IMage overlay stuff

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
} */