<!-- need raw for htmx json substitution to work -->
<script>
    document.addEventListener('htmx:afterSwap', function () {
        const co2Element = document.querySelector('#co2_value p');
        const co2Value = parseInt(co2Element.textContent, 10);
        const co2Container = document.querySelector('#co2_value');

        if (!isNaN(co2Value)) {
            co2Container.classList.remove('text-green-500', 'text-yellow-500', 'text-red-500');
            if (co2Value < 800) {
                co2Container.classList.add('text-green-500');
            } else if (co2Value < 1200) {
                co2Container.classList.add('text-yellow-500');
            } else {
                co2Container.classList.add('text-red-500');
            }
        }
    });
</script>
{% raw %}
<template id="Interior-template">
    <div class="stat">
        <div class="stat-title">Temperature</div>
        <div class="stat-value text-7xl tracking-tighter">{{temp}}</div>
        <div class="stat-figure">
            <svg viewBox="0 0 24 24" class="h-18 -m-4 mt-2">
                <use href="static/weather_icons/wi-thermometer_full.svg#Layer_1" fill="white" />
            </svg>
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">Humidity</div>
        <div class="stat-value text-5xl">{{hum}}</div>
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <svg viewBox="0 0 24 24" class="h-18 -m-2 mt-2">
                <use href="static/weather_icons/wi-humidity.svg#Layer_1" fill="white" />
            </svg>
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">CO2</div>
        <div id=co2_value class="stat-value text-5xl">
            <p>{{co2}}</p>
        </div>
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <svg viewBox="0 0 26 26" class="h-18 -m-2 mt-2">
                <use href="static/general_icons/aq_indoor.svg#main" fill="white" />
            </svg>
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">Pressure</div>
        <div id=baro_value class="stat-value text-5xl">
            <p>{{baro}}</p>
        </div>
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <svg viewBox="0 0 24 24" class="h-18 -m-2 mt-2">
                <use href="static/weather_icons/wi-barometer.svg#Layer_1" fill="white" />
            </svg>
        </div>
    </div>

</template>
{% endraw %}