<!-- need raw for htmx json substitution to work -->
{% raw %}
<template id="Interior-template">
    <div class="stat">
        <div class="stat-title">Temperature</div>
        <div class="stat-value text-7xl tracking-tighter">{{temp}}</div>
        <div class="stat-figure">
            <!-- <svg viewBox="0 0 24 24" class="h-18 -m-4">
                <use href="static/weather_icons/wi-thermometer_full.svg#Layer_1" fill="white" />
            </svg> -->
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">Humidity</div>
        <div class="stat-value text-5xl">{{hum}}</div>
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <!-- <svg viewBox="0 0 24 24" class="h-18 -m-2">
                <use href="static/weather_icons/wi-humidity.svg#Layer_1" fill="white" />
            </svg> -->
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">CO2</div>
        <div class="stat-value text-5xl text-error">
            <p>{{co2}}</p>
        </div>
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <!-- <svg viewBox="0 0 26 26" class="h-18 -m-2">
                <use href="static/general_icons/aq_indoor.svg#main" fill="white" />
            </svg> -->
        </div>
    </div>
</template>
{% endraw %}