{% raw %}
<div class="card-body">
    <!-- <div hx-get="/api/sensor/interior?units=True" hx-trigger="load, click"
        nunjucks-template="blogs-template">
    </div> -->
    <div class="flex space-x-4">
        <h2 class="text-3xl font-bold">Interior</h2>
        <div class="tooltip" data-tip="Toggle updating values">
            <label class="swap swap-rotate">
            <input type="checkbox" name="refresh"
                hx-get="/api/sensor/interior?units=True" hx-trigger="load, click"
                nunjucks-template="stats-template" hx-target="#interior-stats" hx-swap="innerHTML">
            </input>
            <img src="static/general_icons/refresh_check.svg" class="svg-white swap-on btn w-24">
            <img src="static/general_icons/refresh_disabled.svg" class="svg-white swap-off btn w-24">
            </label>
        </div>

    </div>
    <div class="divider divider-accent"></div>
    <div class="stats stats-vertical shadow p-0 m-0" id="interior-stats">
    </div>
    <template id="stats-template">
        <div class="stat">
            <div class="stat-title">Temperature</div>
            <div class="stat-value" id="weather_int">{{temp}}</div>
            <div class="stat-figure">
                <img src="static/weather_icons/wi-thermometer_full.svg" class="svg-white w-8">
            </div>
        </div>
        <div class="stat">
            <div class="stat-title">Humidity</div>
            <div class="stat-value">{{hum}}</div>
            <div class="stat-desc"></div>
            <div class="stat-figure">
                <img src="static/weather_icons/wi-humidity.svg" class="svg-white w-8">
            </div>
        </div>
        <div class="stat">
            <div class="stat-title">CO2</div>
            <div class="stat-value">{{co2}}</div>
            <div class="stat-desc"></div>
            <div class="stat-figure">
                <img src="static/general_icons/aq_indoor.svg" class="w-8">
            </div>
        </div>
    </template>
    <div class="card-actions justify-end"></div>
</div>
{% endraw %}