<div class="navbar bg-base-100 shadow-sm rounded-b text-3xl p-2 md:p-0 lg:p-2">
  <div class="navbar-start">
    <!-- Mobile Menu -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-ghost2 md:hidden ">
        <svg viewBox="0 0 24 24" class="h-8">
          <use href="static/general_icons/menu.svg#main" fill="white" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-lg dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a href="/settings"><svg viewBox="0 0 24 24" class="h-4">
              <use href="static/general_icons/settings.svg#main" fill="white" />
            </svg>Settings</a>
        </li>
        <li>
          <details open>
            <summary><svg viewBox="0 0 24 24" class="h-4">
                <use href="static/general_icons/account_circle.svg#main" fill="white" />
              </svg> Account</summary>
            <ul class="">
              <li><a>
                  <svg viewBox="0 0 24 24" class="h-4 w-4">
                    <use href="static/general_icons/manage_accounts.svg#main" fill="white" />
                  </svg>
                  Profile
                </a></li>
              <li><a>
                  <svg viewBox="0 0 24 24" class="h-4 w-4">
                    <use href="static/general_icons/logout.svg#main" fill="white" />
                  </svg>
                  Logout
                </a></li>
            </ul>
        </li>
      </ul>
    </div>
    <a href="/weather" class="btn btn-ghost btn-ghost2 text-3xl font-bold mx-4">WAQD</a>
  </div>
  <div class="navbar-center hidden md:flex"></div>
  <div class="navbar-end hidden md:flex">
    <!-- Desktop Menu -->
    <ul class="menu menu-horizontal px-2 md:text-3xl lg:text-xl">
      <div class="dropdown dropdown-end ">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-field">
          <svg viewBox="0 0 24 24" class="h-8">
            <use href="static/general_icons/account_circle.svg#main" fill="white" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-lg dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li>
            <a>
              <svg viewBox="0 0 24 24" class="h-6  mr-8">
                <use href="static/general_icons/settings.svg#main" fill="white" />
              </svg>Settings
            </a>
          </li>
          <li>
            {% if local %}
            <a>
              <svg viewBox="0 0 24 24" class="h-6 mr-8">
                <use href="static/general_icons/power.svg#main" fill="white" />
              </svg>Shutdown
            </a>
            {% else %}
            <a>
              <svg viewBox="0 0 24 24" class="h-6 mr-8">
                <use href="static/general_icons/logout.svg#main" fill="white" />
              </svg>Logout
            </a>
            {% endif %}
          </li>
        </ul>
      </div>
      </li>
      {% if local %}
      <li>
        <a>
          <svg viewBox="0 0 24 24" class="h-8">
            <use href="static/general_icons/wifi-full.svg#main" fill="white" />
          </svg>
        </a>
      </li>
      {% endif %}
    </ul>
    {% if local %}
    <span id="clock" class="p-4"></span>
    {% endif %}
  </div>
</div>