{% for network in wifi_networks.values() %}
<div id="{{network.ssid}}_main" class="stat rounded-box shadow-md {% if network.in_use %}bg-base-200{%else%}bg-base-100{% endif %}">
  <div class="stat-title"></div>
  <div class="stat-value">
    <div  class="flex flex-row items-center p-2">
      <svg viewBox="0 0 24 24" class="h-8">
        {% if network.signal > 75 and network.security %}
        <use href="/static/general_icons/wifi_3_bar_locked.svg#main" fill="white" />
        {% elif network.signal > 50 and network.security %}
        <use href="/static/general_icons/wifi_2_bar_locked.svg#main" fill="white" />
        {% elif network.security %}
        <use href="/static/general_icons/wifi_1_bar_locked.svg#main" fill="white" />
        {% endif %}
      </svg>
      <div class="text-s text-wrap tracking-wide p-4">{{network.ssid}}</div>
      <button id="{{network.ssid}}_connect" onclick="handleConnectButton('{{network.ssid}}')"
        class="btn btn-sm btn-secondary ml-auto p-4">
        {% if network.in_use %}Disconnect{%else%}Connect{% endif %}</button>
    </div>
    <div id="{{network.ssid}}_pw_form" class="hidden">
      <div class="flex flex-row items-center gap-4 p-2">
        <input id="{{network.ssid}}_pw" type="password" placeholder="Password"
          class="input input-bordered w-full max-w-xs -mr-2" />
        <button type="button" class="btn btn-square"
          onclick="togglePasswordVisibility('{{network.ssid}}_pw', '{{network.ssid}}_togglePWVisibilityBtn')">
          <svg id="{{network.ssid}}_togglePWVisibilityBtn" xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6" viewBox="0 0 24 24">
            <use href="/static/general_icons/visibility.svg#main" fill="white" />
          </svg>
        </button>
        <button id="cancel_btn" class="btn btn-sm btn-secondary">Cancel</button>
        <button id="next_btn" class="btn btn-sm btn-secondary" hx-post="/menu/wifi/connect"
          hx-vals='js:{"password": document.getElementById("{{network.ssid}}_pw").value, "ssid": "{{network.ssid}}"}'
          hx-swap="none"
          hx-on::after-request="handleConnectionResponse(event, '{{network.ssid}}')">Next</button>
      </div>
    </div>
  </div>
  <div class="stat-desc flex flex-row items-center gap-4 ">
    <span>Signal: {{network.signal}}%</span>
    <span id="{{network.ssid}}_security" class="">Security: {{network.security}}</span>
  </div>
</div>
{% endfor %}

<script>
  function handleConnectButton(ssid) {
    const connectBtn = document.getElementById(`${ssid}_connect`);
    const pwForm = document.getElementById(`${ssid}_pw_form`);
    const mainForm = document.getElementById(`${ssid}_main`);

    if (connectBtn.textContent.trim() === 'Connect') { // Show password field and buttons
      pwForm.classList.remove('hidden');
      connectBtn.disabled = true;

      const cancelBtn = pwForm.querySelector('#cancel_btn');
      cancelBtn.addEventListener('click', () => {
        pwForm.classList.add('hidden');
        connectBtn.disabled = false;
      });
    }
    else if (connectBtn.textContent.trim() === 'Disconnect') { // Disconnect directly
      htmx.ajax('post', '/menu/wifi/disconnect', {
        values: { "ssid": ssid },
        swap: "none",
        handler: function (elt, evt) {
          document.getElementById('Rescan').click()
          // if (evt.xhr.status = 200) {
          //   connectBtn.textContent = "Connect";
          //   mainForm.classList.remove('bg-base-200');
          //   mainForm.classList.add('bg-base-100');
          // } else {
          //   console.error('Disconnect failed');
          // }
        }
      });
    }
  }

  function handleConnectionResponse(event, ssid) {
    document.getElementById('Rescan').click()
    if (event.detail.successful) {
      // const connectBtn = document.getElementById(`${ssid}_connect`);
      // const pwForm = document.getElementById(`${ssid}_pw_form`);
      // const mainForm = document.getElementById(`${ssid}_main`);

      // // pwForm.classList.add('hidden');
      // // connectBtn.disabled = false;
      // // connectBtn.textContent = 'Disconnect';
      // // mainForm.classList.remove('bg-base-100');
      // // mainForm.classList.add('bg-base-200');
      
    }
    else { // Show toast

    }
  }
  //# sourceURL=wifi_list.html
</script>