{% for network in wifi_networks.values() %}
<div class="stat">
  <div class="stat-title"></div>
  <div class="stat-value">
    <div class="bg-base-100 rounded-box shadow-md flex flex-row items-center">
      <svg viewBox="0 0 24 24" class="h-8">
        {% if network.signal > 75 and network.security %}
        <use href="/static/general_icons/wifi_3_bar_locked.svg#main" fill="white" />
        {% elif network.signal > 50 and network.security %}
        <use href="/static/general_icons/wifi_2_bar_locked.svg#main" fill="white" />
        {% elif network.security %}
        <use href="/static/general_icons/wifi_1_bar_locked.svg#main" fill="white" />
        {% endif %}
      </svg>
      <div class="text-s text-wrap tracking-wide p-4">{{network.ssid}}</div>
      <button id="{{network.ssid}}_connect" onclick="handleConnect('{{network.ssid}}')"
        class="btn btn-sm btn-secondary ml-auto p-4">
        {% if network.in_use %}Disconnect{%else%}Connect{% endif %}</button>
    </div>
    <div id="{{network.ssid}}_pw_form" class="hidden">
      <div class="flex flex-row items-center gap-4 p-2">
        <input id="{{network.ssid}}_pw" type="text" placeholder="Password" class="input input-bordered w-full max-w-xs" />
        <button id="cancel_btn" class="btn btn-sm btn-secondary">Cancel</button>
        <button id="next_btn"class="btn btn-sm btn-secondary"
        hx-post="/menu/wifi/connect" 
        hx-vals='js:{"password": document.getElementById("{{network.ssid}}_pw").value, "ssid": "{{network.ssid}}"}'
        hx-swap="none"
        hx-on::after-request="handleConnectionResponse(event, '{{network.ssid}}')"
        >Next</button>
      </div>
    </div>
  </div>
  <div class="stat-desc">{{network.signal}}%{% if network.in_use %} - Connected{% endif %}</div>
</div>
{% endfor %}

<script>
  function handleConnect(ssid) {
    const connectBtn = document.getElementById(`${ssid}_connect`);
    const pwForm = document.getElementById(`${ssid}_pw_form`);

    if (connectBtn.textContent.trim() === 'Connect') {
      pwForm.classList.remove('hidden');
      connectBtn.disabled = true;

      const cancelBtn = pwForm.querySelector('#cancel_btn');
      cancelBtn.addEventListener('click', () => {
        pwForm.classList.add('hidden');
        connectBtn.disabled = false;
      });
    }
  }

  function handleConnectionResponse(event, ssid) {
    if (event.detail.successful) {
      const connectBtn = document.getElementById(`${ssid}_connect`);
      const pwForm = document.getElementById(`${ssid}_pw_form`);
      const statDesc = connectBtn.closest('.stat').querySelector('.stat-desc');
      
      pwForm.classList.add('hidden');
      connectBtn.disabled = false;
      connectBtn.textContent = 'Disconnect';
      statDesc.textContent = `${statDesc.textContent.split('-')[0]} - Connected`;
    }
  }
</script>