[Desktop Entry]
Name=PiWeather
Comment=My application which does this
Icon=/home/pi/PiWeather/resources/gui_base/icon.png
Exec=python3 /home/pi/PiWeather/main.py
Type=Application
Encoding=UTF-8
Terminal=true
Categories=Applications;
Name[en_US]=PiWeather
