<fieldset class="fieldset bg-base-200 border-base-300 text-3xl rounded-box w-full border p-4 gap-4">
    <!-- <legend class="fieldset-legend">Sound</legend> -->
    <legend class="fieldset-legend">Pick a file</legend>
    <input type="file" class="file-input" />
    <label class="label">Max size 2MB</label>

    <!-- Interior background -->

    <!-- Forecast background -->

    <!-- Preview -->

    <!-- 
    <label class="label">Sound/Speach</label>
    <label class="label p-2">
        <input type="checkbox" checked="checked" class="toggle" />
    </label>

    <label class="label">Startup Jingle</label>
    <label class="label p-2">
        <input type="checkbox" checked="checked" class="toggle" />
    </label> -->
</fieldset>