<div class="hero rounded-box min-h-[85vh]"
  style=" background-image: url(/static/gui_base/aimee-giles-ZcMUiZuOirY-unsplash.avif);">
  <div class="hero-overlay"></div>
  <div class="hero-content flex-col lg:flex-row">
    <div class="text-center lg:text-left glass rounded-box p-4 bg-primary">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6 text-lg">
        WAQD web access for remote login to monitor all your data.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <fieldset class="fieldset text-2xl">
          <label class="label">Username</label>
          <input type="text" id="username" name="username" autocomplete="username" placeholder="Username"
            class="input" />

          <label class="label">Password</label>

          <div class="flex items-center">
            <input type="password" id="password" class="input input-bordered flex-grow" autocomplete="password" placeholder="Password">
            <button type="button" class="btn btn-square ml-2" onclick="togglePasswordVisibility()">
              <svg id="togglePWVisibilityBtn" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </button>
          </div>
          <!-- <div><a class="link link-hover">Forgot password?</a></div> -->
          <button class="btn btn-primary mt-4 text-lg" onclick="login()">
            Login
            <span id="loading" class="hidden loading loading-spinner loading-md ml-4"></span>
          </button>
          <script>
            function togglePasswordVisibility() {
              const passwordInput = document.getElementById('password');
              const toggleButton = document.getElementById('togglePWVisibilityBtn');
              if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleButton.style.opacity = '0.5'; // Grey out the button
              } else {
                passwordInput.type = 'password';
                toggleButton.style.opacity = '1'; // Re-enable the button
              }
            }
            function login() {
              document.getElementById("loading").classList.remove('hidden');

              const username = document.getElementById('username').value;
              const password = document.getElementById('password').value;

              fetch('/public/token', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                  grant_type: 'password',
                  username: username,
                  password: password
                })
              })
                .then(response => {
                  if (!response.ok) { // show error toast
                    const toastsContainer = document.getElementById('toasts');
                    const id = toastsContainer.children.length;
                    const toastTemplate = fetch('toast/login_failed?id=' + id.toString()).then(response => {
                      if (response.ok) {
                        return response.text().then(html => {
                          const tempDiv = document.createElement('div');
                          tempDiv.innerHTML = html;
                          toastsContainer.appendChild(tempDiv)
                        });
                      }
                    })
                    throw new Error('Login failed! Wrong username or password.');
                  }

                  return response.json();
                })
                .then(data => {
                  console.log('Success:', data);
                  window.location.href = '/weather';
                })
                .catch(error => {
                  console.error('Error:', error);
                })
                .finally(() => {
                  document.getElementById("loading").classList.add('hidden');
                });
            }
          </script>
        </fieldset>
      </div>
    </div>
  </div>
</div>
</div>