<!DOCTYPE html>
<html lang="en" data-theme="mytheme">

<head>
    <title>WAQD</title>
    <html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , charset="utf-8">
    <link rel="preload" href="static/font/Franzo-E4GA.woff" as="font" type="font/woff2" crossorigin>
    <!-- <link href="static/css/daisyui5_full.css" rel="stylesheet" type="text/css" /> -->
    <!-- <script src="static/css/tailwindcss.js"></script> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     -->
    <link href="static/css/output.css" rel="stylesheet" type="text/css" />

    <style>
        /* Cannot be in stylesheet - set font here, so no pop-in happens*/
        @font-face {
            font-family: MyFranzo;
            src: url('static/font/Franzo-E4GA.woff');
        }
    </style>
    <link rel="icon" href="static/gui_base/icon.png" type="image/png">
</head>
<script> // clock
    window.onload = (function () {
        function updateClock(clock) {
            clock.innerHTML = new Date().toLocaleTimeString();
        }
        setInterval(function () {
            var clockElement = document.getElementById("clock");
            updateClock(clockElement);
        }, 1000);

    }());
</script>

<body>
    <header>
        <div class="navbar bg-base-100 shadow-sm">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden ">
                        <img src="static/general_icons/menu.svg" class="h-8 w-8">
                    </div>
                    <ul tabindex="0" 
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                        <li><a>Item 1</a></li>
                        <li>
                            <a>Account</a>
                            <ul class="p-2">
                                <li><a>Profile</a></li>
                                <li><a>Logout</a></li>
                            </ul>
                        </li>
                        <li><a>Item 3</a></li>
                    </ul>
                </div>
                <a class="btn btn-ghost text-3xl font-bold underline">WAQD</a>
            </div>
            <div class="navbar-center hidden md:flex">

            </div>
            <div class="navbar-end hidden md:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a>Settings</a></li>
                    <li>
                        <details>
                            <summary>Account</summary>
                            <ul class="bg-base-100 rounded-t-none p-2 z-40">
                                <li><a>Profile</a></li>
                                <li><a>Logout</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <a>
                            <img src="static/general_icons/wifi-full.svg" class="h-5 w-5">
                        </a>
                    </li>
                    <li><span id="clock"></span></li>
                </ul>
            </div>
        </div>
    </header>
    
    <main class="py-6 px-2">
        {{content}}
    </main>
</body>
<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 space-y-8">
    <aside>
        <p>Copyright © 2025 - All right reserved by Péter Gosztolya and contributors</p>
    </aside>
</footer>

</html>