<div class="hero rounded-box min-h-[85vh]"
    style=" background-image: url(/static/gui_base/pascal-debrunner-UjyUlxr1Yjo-unsplash_m.avif);">
    <div class="hero-overlay"></div>
    <div class="hero-content flex-col">
        <div class="text-center lg:text-left glass rounded-box p-4 bg-primary">
            <h1 class="text-5xl font-bold">Coming soon!</h1>
            <p class="py-6 text-lg">
                Hook up your <a class="link text-purple-300"
                    href=" https://github.com/goszpeti/weather_air_quality_device">WAQD</a> device and monitor your data remotely.
            </p>
            
        </div>
        <div class="card bg-base-100 w-full max-w-lg1 shrink-0 shadow-2xl">
            <div class="card-body">
                    <p class="py-6 text text-center">
                        🗲 Powered by
                        <a class="link text-purple-300"
                            href=" https://github.com/goszpeti/weather_air_quality_device">WeatherAirQualityDevice
                            project@GitHub</a>
                    </p>
            </div>
        </div>
    </div>
</div>
</div>